<div class="md:h-screen">
  <app-header></app-header>
  <section>
    <div class="container mx-auto py-12">
      <button
        routerLink="/"
        class="flex items-center gap-2 py-2 px-8 rounded-md bg-[white] dark:bg-slate-700 text-indigo-950 dark:text-[white] shadow-md dark:shadow-slate-800"
      >
        <i class="fa-solid fa-arrow-left"></i>
        Back
      </button>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-32 items-center mt-20">
        <img
          [src]="countryData?.flags.svg"
          [alt]="countryData?.flags.alt"
          class="w-full"
        />
        <div class="">
          <h2 class="py-3 font-extrabold text-4xl mb-6">
            {{ countryData?.name.common }}
          </h2>
          <div class="grid lg:grid-cols-2 gap-4">
            <div class="flex flex-col gap-1.5">
              <p>
                Native Name:
                <span class="dark:text-gray-300 font-light">{{
                  countryData?.name.nativeName.official | number
                }}</span>
              </p>
              <p>
                Population:
                <span class="dark:text-gray-300 font-light">{{
                  countryData?.population | number
                }}</span>
              </p>
              <p>
                Region:
                <span class="dark:text-gray-300 font-light">{{
                  countryData?.region
                }}</span>
              </p>
              <p>
                Sub Region:
                <span class="dark:text-gray-300 font-light">{{
                  countryData?.subregion
                }}</span>
              </p>
              <p>
                Capital:
                <span class="dark:text-gray-300 font-light">{{
                  countryData?.capital
                }}</span>
              </p>
            </div>
            <div class="flex flex-col gap-1.5">
              <p>
                Top Level Domain:
                <span class="dark:text-gray-300 font-light">{{
                  countryData?.tld
                }}</span>
              </p>
              <p>
                Currencies:
                <span
                  class="dark:text-gray-300 font-light"
                  *ngFor="let currency of getCurrencyNames()"
                >
                  {{ currency.name }}
                </span>
              </p>
              <p>
                Languages:
                <span
                  class="dark:text-gray-300 font-light"
                  *ngFor="let language of countryData?.languages | keyvalue"
                >
                  {{ language.value }}
                </span>
              </p>
            </div>
          </div>

          <div class="mt-20 lg:flex items-center">
            <p class="me-4 mb-4 md:mb-0">Border Countries:</p>
            <div class="flex gap-2">
              <p
                class="dark:text-gray-300 font-light bg-[white] dark:bg-slate-700 text-indigo-950 shadow-md dark:shadow-slate-800 py-1 px-4"
                *ngFor="let country of countryData?.borders | keyvalue"
              >
                {{ country.value }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
