<app-header></app-header>
<section>
  <div class="container mx-auto py-12">
    <button
      routerLink="/"
      class="flex items-center gap-2 py-2 px-8 rounded-md bg-[white] dark:bg-slate-700 text-indigo-950 dark:text-[white] shadow-md dark:shadow-slate-800"
    >
      <i class="fa-solid fa-arrow-left"></i>
      Back
    </button>
    <div class="">
      <img class="w-full" />
      <div class="">
        <div class="">
          <!-- <h2 class="py-3 font-bold text-2xl">{{ countryData.name.common }}</h2> -->
        </div>
        <div class=""></div>
      </div>
      <div class=""></div>
    </div>
  </div>
</section>
